
*{
  box-sizing: border-box;
}
header,
section{
  overflow-x: hidden;
}
:root{
  --rocksalt: "Rock Salt", cursive;
  --Lobster: "Lobster Two", cursive;
  --Roboto: "Roboto", cursive;
  --PTSans: "PT Sans", cursive;
  --KiwiMaru: "Kiwi Maru", cursive;
  --light-black: #2e2c2f;
  --bggradient: linear-gradient(to bottom, #F9E5F1, #faf5f1);
  --light-gray: rgba(255,255,255,0.5);
}

header a{
  font-family: var(--rocksalt);
  font-size: 1.1em;
  color: #696666;
}
header{
  background: #f9e5f9;
  background: var(--bggradient);
}
.dropdown-content{
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color: rgb(103, 100, 100);
  padding: auto;
  text-decoration: none;
  display: block;
  font-size: medium;
}
.dropdown-content a:hover{
  background-color: lightgrey;
}
.dropdown:hover .dropdown-content{
  display: block;
}
header .nav-item:last-child{
  padding-right:7em;
}
header .nav-item{
  padding: 0.9em;
}

header .navbar-brand{
  padding-left: 8rem;
}
header .nav-link:hover{
  color:black;
}
header .row .col-md-5{
  padding: 4.2vmin 1vmin;
}
header .row .col-md-7{
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  color: #696666;
  font-family: var(--Lobster);
}
header .row .col-md-5 img{
  width: 90%;
}
header .container .col-md-7 h6{
  padding: 1vmin;
  letter-spacing: 4px;
}
header .container .col-md-7 h1 {
  font-size: 6vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}
header .container .col-md-7 p{
  padding: 1vmin 5vmin;
}
#button-1{
  border-radius: 25px;
  font-weight: bold;
}

/* Section-1 */
#laura{
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}
.section-1 .row .col-md-6:last-child{
  position: relative;
}
.section-1 .row .col-md-6 .snippet{
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
  font-family: var(--KiwiMaru);
  z-index: 1;
}
.section-1 .row .col-md-6 .snippet h1{
  font-weight: bold;
  text-align: center;
  padding: 0.4em 0;
  font-size: 2em;
}
.section-1 .row .col-md-6 .snippet p{
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/* Section 2 */
.cover{
  width: 100%;
  height: 40vmin;
  background: url(../img/hairEquipment.jpg);
  background-position: -25rem -19rem;
  background-size: 100%;
  position: relative;
}
.cover .content{
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  padding-top: 10vmin;
}
.cover .content > h1{
  font-family: var(--KiwiMaru);
  font-size: 6vmin;
  color: whitesmoke;
}
.cover .content > p{
  font-family: var(--Roboto);
  font-size: 2vmin;
  color: #e5e5e5;
}
.people .square {
  position: relative;
  z-index: 1;
  background: white;
  width: 17em;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(222, 145, 145, 0.3);
}
.people{
  margin-top: -5vmin;
}
.people .square h3{
  font-size: 3rem;
  color: salmon;
}
.people .square p{
  font-family: var(--KiwiMaru);
}
.service>h1{
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}
.service>p{
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 3vmin;
}
.service .myCards .card{
  width: 22rem;
  margin: 1vmin;
}
.myCards div{
  padding: 0;
  margin: 0;
}
.myCards .title{
  background:  rgba(174, 219, 219, 0.2);
  padding: 1.4rem 2.0rem;
  font-size: 2vmin;
  font-family: var(--rocksalt);
}
.card .card-text{
  padding: 2.5rem 3rem;
  color: var(--light-black)
}
.card-body .pricing{
  background:  rgba(174, 219, 219, 0.2);
  border-top-right-radius: 178px;
  border-top-left-radius: 178px;
}
.card-body.pricing>h1{
  font-size: 6vmin;
  padding: 1em 0.5em;
}

/* section 3 */
.section-2 .container h1{
  font-size: 6vmin;
  padding-top: 14vmin;
}
.section-2 .team {
  padding: 10vmin 4vmin;
}
.section-2 .card{
  width: 22rem;
  margin-top: 10vmin;
}
.section-2 .card .card-text{
  padding: 0.5em;
}
.section-2 .card .card-body > a{
  font-size: 1.5em;
}
.section-2 .carousel-item{
  padding-left: 3rem;
}
.border-radius{
  border-radius: 340px;
  width: 60%;
}
.testimonial{
  height: 600px;
  object-fit: contain;
}
.cardimage{
  height: 300px;
  object-fit: cover;
  border-radius: 40%
}
.myform .schedule > h1{
  font-family: var(--rocksalt);
  color: rgb(236, 164, 156)
}


/* carousel */


/* Footer */
footer{
  background: rgba(120, 110, 110, 0.5);
  overflow-x: hidden;
  padding: 2vmin 2vmin;
}
footer input{
  border: none !important;
}
footer input::placeholder{
  color: white !important;
}
footer .input-group .input-group-text{
  background: var(--bggradient);
  border: none;
}
footer .column i{
  color:salmon;
}
footer .column i+i{
  padding: 0 0.5em;
}
#newsletter{
  color: salmon;
}

/* sticky class */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: all 1.5s ease;
} */



/*    nlknalknflsmnflnda */
